.heroVideo {
  @include mobile {
    display: flex;
    width: 100%;
    height: auto;
    margin: 0;
    background-color: $primary-color;
    position: relative;

    &__hero-video-wrapper {
      display: flex;
      width: 100%;
      // height: 50%;
      position: relative;
      padding-top: 56.25%;
      margin: 0;
      background-color: $primary-color;
      img {
        display: flex;
        max-width: 100%;
        object-fit: cover;
        object-position: center;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
    }
    &__controls {
      display: flex;
      position: absolute;
      align-items: center;
      z-index: 99;
      bottom: 0.375rem;
      width: 100%;
      height: 2rem;
    }
    &__play {
      display: flex;
      width: 20%;
      height: 100%;
      margin-right: 0.5rem;
    }
    &__icon {
      padding: 0.425rem;
      border-radius: 0.187rem;
      height: 100%;
      width: 100%;
      color: #fff;
      background: rgba(black, 0.5);
      border: unset;
      box-shadow: unset;
      &:hover,
      &:focus,
      &:active {
        cursor: pointer;
        background: rgba(black, 1);
        outline: 0;
      }
    }
    &__icon-group {
      display: flex;
      width: 30%;
      height: 100%;
      margin-left: 0.5rem;
    }
    &__progress-bar {
      position: relative;
      flex-grow: 1;
      height: 100%;
      width: 50%;
      padding: 0.625rem;
      border-radius: 0.187rem;
      color: white;
      background: rgba(black, 0.5);
      display: flex;
      justify-content: none;
      align-items: center;
    }
    &__progress-timeline {
      height: 0.187rem;
      margin-right: 0.625rem;
      background: grey;
      flex-grow: 1;
    }
    &__progress-scrubber {
      position: absolute;
      width: 12px;
      height: 12px;
      background: white;
      border-radius: 50%;
      left: 0.624rem;
      top: 50%;
      transform: translateY(-50%);
    }
    &__progress-text {
      display: none;
      text-align: center;
      @include fonts(12px, 20px, none);
    }
  }
  @include tablet {
    &__hero-video-wrapper {
      img {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }
    }
    &__controls {
      height: 3.1rem;
    }
    &__icon {
      padding: 0.535rem;
    }
    @include laptop {
      &__hero-video-wrapper {
        img {
          padding-left: 2.5rem;
          padding-right: 2.5rem;
        }
      }
      &__controls {
        height: 3.3rem;
        padding-left: 4.5rem;
        padding-right: 4.5rem;
      }
      &__icon {
        padding: 0.765rem;
      }
    }
    @include desktop {
      &__hero-video-wrapper {
        padding-top: 50.25%;
        img {
          padding-left: 12rem;
          padding-right: 12rem;
        }
      }
      &__controls {
        height: 3.5rem;
        padding-left: 14.5rem;
        padding-right: 14.5rem;
      }
      &__icon {
        padding: 0.635rem;
      }
    }
  }
}
