.upload {
  margin-bottom: 2rem;
  .header {
    @include mobile {
      padding-left: 1rem;
      padding-right: 1rem;
      @include flex-justifyDirection(center, column);
      width: 100%;
      height: 10.5625rem;

      &__logoDiv a {
        @include flex-justify(center);
        height: 3rem;
      }
      &__logo {
        display: flex;
        object-fit: contain;
      }
      &__searchUpload {
        display: flex;
        flex-direction: column;
        width: 100%;
      }
      &__searchDiv {
        display: flex;
        width: 100%;
      }
      &__searchInput {
        display: flex;
        @include fonts(0.75rem, 1.25rem, none);
        padding-left: 1rem;
        width: 100%;
        height: 3rem;
        border-radius: 0.25rem;
        border: none;
        border: 1px solid $color-silver;
      }
      &__upload-mohead {
        display: flex;
        width: 100%;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
      }
      &__btnDiv {
        display: flex;
        width: 90%;
        margin-right: 1rem;
      }
      &__btnDiv a {
        text-decoration: none;
      }
      a {
        width: 100%;
      }
      &__btn {
        @include flex-justifyAlign(center, center);
        @include fonts(0.75rem, 1.25rem, bold);
        width: 100%;
        height: 3rem;
        border-radius: 0.25rem;
        border: none;
        color: $color-white;
        background-color: $secondary-color;
        &:hover {
          cursor: pointer;
          background-color: $color-hover;
        }
      }
      &__moheadDiv {
        display: flex;
        justify-content: center;
        width: 20%;
      }
      &__mohead-img {
        display: flex;
        width: 3rem;
        height: 3rem;
        object-fit: cover;
        border-radius: 50%;
      }
    }
    @include tablet {
      padding-left: 1rem;
      padding-right: 1rem;
      @include flex-justifyDirection(center, row);
      align-items: center;
      width: 100%;
      height: 5rem;
      &__logoDiv {
        width: 30%;
      }
      &__searchUpload {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 10.5625rem;
        width: 100%;
      }
      &__upload-mohead {
        display: flex;
        width: 100%;
        align-items: center;
        margin: 0px 0px 0px 1.5rem;
      }
      &__btnDiv {
        display: flex;
        width: 60%;
        margin-right: 1.5rem;
      }
      &__moheadDiv {
        width: 30%;
      }
      &__mohead-img {
        display: flex;
        width: 3rem;
        height: 3rem;
        object-fit: cover;
        border-radius: 50%;
      }
    }
    @include desktop {
      padding-left: 8rem;
      padding-right: 8rem;
      &__searchUpload {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 31.8125rem;
      }
      &__searchDiv {
        display: flex;
        width: 100%;
      }
      &__btnDiv {
        width: 60%;
        margin-right: 0;
      }
      &__upload-mohead {
        justify-content: space-between;
        width: 70%;
      }
    }
  }

  //form section//==================//
  .form {
    @include mobile {
      padding-left: 1rem;
      padding-right: 1rem;
      display: flex;
      flex-direction: column;
      width: 100%;
      &__upload-header {
        @include fonts(1.5rem, 2rem, bold);
        margin-top: 1.5rem;
        margin-bottom: 2rem;
      }
      &__previewDiv {
        display: flex;
        flex-direction: column;
        width: 18rem;
        height: 9.5625rem;
        margin-bottom: 2rem;
      }
      &__previewImg {
        display: flex;
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 0.25rem;
      }
      &__publish-section {
        display: flex;
        flex-direction: column;
        width: 100%;
      }
      &__label-inputDiv {
        display: flex;
        flex-direction: column;
        padding-bottom: 1rem;
      }
      &__label {
        display: flex;
        @include fonts(0.75rem, 1.25rem, none);
        color: $color-silver;
      }
      &__input-text {
        display: flex;
        width: 100%;
        height: 3rem;
        padding-left: 1rem;
        border-radius: 0.25rem;
        border: none;
        border: 1px solid $color-silver;
        background-color: $color-alabaster;
      }
      &__texareaDiv {
        display: flex;
        border-radius: 0.25rem;
        width: 100%;
        margin-bottom: 2rem;
      }
      &__texArea {
        display: flex;
        width: 100%;
        height: 8.9375rem;
        background-color: $color-alabaster;
        border: 1px solid $color-silver;
        border-radius: 0.25rem;
        padding-top: 1rem;
        padding-left: 1rem;
      }
      &__publishDiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
      }
      &__publish-btn {
        @include flex-justifyAlign(center, center);
        @include fonts(0.75rem, 1.25rem, bold);
        width: 100%;
        height: 3rem;
        margin-bottom: 1.5rem;
        border-radius: 0.25rem;
        border: none;
        color: $color-white;
        background-color: $secondary-color;
        &:hover {
          cursor: pointer;
          background-color: $color-hover;
        }
      }
      &__cancel-btn {
        display: flex;
        color: $secondary-color;
        width: 100%;
        a {
          display: flex;
          justify-content: center;
          width: 100%;
          color: $secondary-color;
          text-decoration: none;
          &:hover {
            cursor: pointer;
            color: $color-hover;
          }
        }
      }
    }
    @include tablet {
      padding-left: 1rem;
      padding-right: 1rem;
      &__upload-header {
        @include fonts(2.25rem, 2.75rem, bold);
        margin-top: 3rem;
        margin-bottom: 2rem;
      }
      &__previewDiv {
        display: flex;
        margin-bottom: 2.5rem;
        width: 21.5rem;
        height: 11.4375rem;
      }
      &__conver-textarea {
        display: flex;
        width: 100%;
        border-bottom: 1px solid $color-silver;
      }
      &__label-inputDiv {
        display: flex;
        padding-bottom: 1.5rem;
        width: 100%;
      }
      &__texareaDiv {
        display: flex;
        margin-bottom: 2.5rem;
      }
      &__publishDiv {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        padding-left: 65%;
        margin-top: 2.5rem;
      }
      &__publish-btn {
        margin-bottom: 0;
      }
    }
    @include desktop {
      padding-left: 8rem;
      padding-right: 8rem;
      &__preview-converDiv {
        display: flex;
        border-bottom: 1px solid $color-silver;
      }
      &__lable-previewDiv {
        display: flex;
        flex-direction: column;
        padding-right: 1.5rem;
      }
      &__conver-textarea {
        border-bottom: none;
      }
      &__texArea {
        height: 5.875rem;
      }
      &__publishDiv {
        padding-left: 73%;
      }
      &__publish-btn {
        margin-bottom: 0;
      }
    }
  }
}
