//breakpoints //
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$laptop-breakpoint: 1024px;
$desktop-breakpoint: 1400px;
//colors //
$primary-color: #323232;
$secondary-color: #0095ff;
$color-hover: #004892;
$color-mercury: #e1e1e1;
$color-silver: #afafaf;
$color-white: #ffffff;
$color-alabaster: #fafafa;
