.video-list {
  @include mobile {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    &__headerDiv {
      display: flex;
      padding: 2.5rem 1rem 2.5rem 1rem;
    }
    &__header {
      display: flex;
      @include fonts(0.875rem, 1.375rem, none);
      color: $color-silver;
    }
    &__list {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 4.375rem;
      text-decoration: none;
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
    &__imgDiv {
      display: flex;
      width: 50%;
      height: 100%;

      img {
        display: flex;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.25rem;
      }
    }
    &__video-info {
      display: flex;
      flex-direction: column;
      width: 50%;
      height: 100%;
      padding-left: 0.6rem;
    }
    &__title {
      display: flex;
      @include fonts(0.7125rem, 1.125rem, bold);
      padding-bottom: 0.2rem;
      color: $primary-color;
    }
    &__channel {
      display: flex;
      @include fonts(0.8125rem, 1.125rem, none);
      text-decoration: inherit;
      color: $primary-color;
    }
  }
  @include tablet {
    padding-right: 50%;
    &__header {
      width: 50%;
    }
    &__list {
      height: 5.375rem;
    }
  }
  @include laptop {
    &__list {
      height: 6.375rem;
    }
  }
  @include desktop {
    padding-right: 0;
    padding-left: 1rem;
    margin-bottom: 1.5rem;
    &__header {
      display: flex;
      @include fonts(1rem, 1.5rem, none);
    }
  }
}
