.mohead {
  margin-right: 1.25rem;
}
.mohead-img {
  display: flex;
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  border-radius: 50%;
}
// .greyCircle {
//   display: flex;
//   width: 3rem;
//   height: 3rem;
//   border-radius: 50%;
//   background-color: $color-mercury;
// }
