// $site-max-width: 1240px;

//breakpoints //
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1440px;
//colors //
$primary-color: #323232;
$secondary-color: #0095ff;
$color-hover: #004892;
$color-mercury: #e1e1e1;
$color-silver: #afafaf;
$color-white: #ffffff;
